/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: Helvetica, Tahoma, sans-serif;
  background: #f3f3f3;
}

/* Header Styling */
header {
  background: #fff;
  height: 60px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
}

/* Wrapper for containing content (changes depending on device width) */
#wrapper {
  width: 90%;
  margin: auto;
}

/* Controls Styling (most of this will be removed later) */
#controls, #output {
  padding: 8px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.control-btn {
  padding: 10px;
  border: none;
  background: #e3e3e3;
  font-weight: bold;
  margin: 5px;
  border-radius: 5px;
}

.control-btn:hover {
  box-shadow: 2px 2px 3px 1px #333;
}

.control-input {
  padding: 5px;
  margin: 5px;
  background: #e3e3e3;
  border: 1px solid #333;
  display: block;
  width: 90%;
}

/* Output Styling */
#output-view {
  border: 1px solid black;
}

#output-view ul{
  list-style-type: none;
  padding-left: 15px;
  text-align: left;
}

#output-view ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  max-width: 95%;
}

#output-view ul li span {
  margin: 0 5%;
  vertical-align: middle;
}

#output-view ul li p {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
  text-align: left;
  width: 65%;
}

/* Text styling for completed todos */
#output-view ul li p.done{
  text-decoration: line-through;
}

/* UL Icons Styling */
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.uncomplete {
  background-image: url(../images/circle-regular.svg);
}

.uncomplete:hover{
  background-image: url(../images/check-circle-solid.svg);
  transition: 400ms;
  cursor: pointer;
}

.complete {
  background-image: url(../images/check-circle-solid.svg);
}

.delete {
  background-image: url(../images/times-circle-solid.svg);
}

.delete:hover{
  background-image: url(../images/times-circle-solid-hover.svg);
  transition: 400ms;
  cursor: pointer;
}