/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: Helvetica, Tahoma, sans-serif;
  background: #f3f3f3;
}

/* Header Styling */
header {
  background: #fff;
  margin-bottom: 15px;
}

/* header:after {
  display: block;
  content: "";
  clear: both;
} */

header .wrapper {
  height: 60px;
  display: flex;
  align-items: center;
}

header nav {
  height: 30px;
  width: 30px;
  background-image: url(../images/bars-solid.svg);
  background-repeat: no-repeat;
}

header nav ul {
  height: 100%;
  width: 0; /* 225px expanded */
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  background: #111;
  overflow: hidden;
  list-style-type: none;
  transition: 0.3s;
}

header nav ul li.closeNav {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
}

header nav ul li.closeNav:hover {
  cursor: pointer;
  transform: rotateX(360deg);
  transition: 0.5s;
}

header nav ul li {
  color: #fff;
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  display: block;
}

header #title {
  margin: 0 auto;
}

header #title h1 {
  margin: 0;
}

header #add {
  height: 30px;
  width: 30px;
  background-image: url(../images/plus-square-regular.svg);
  background-repeat: no-repeat;
}

/* Wrapper for containing content (changes depending on device width) */
.wrapper {
  width: 90%;
  margin: auto;
}

/* Controls Styling (most of this will be removed later) */
#controls, #output {
  padding: 8px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.control-btn {
  padding: 10px;
  border: none;
  background: #e3e3e3;
  font-weight: bold;
  margin: 5px;
  border-radius: 5px;
}

.control-btn:hover {
  box-shadow: 2px 2px 3px 1px #333;
}

.control-input {
  padding: 5px;
  margin: 5px;
  background: #e3e3e3;
  border: 1px solid #333;
  display: block;
  width: 90%;
}

/* Output Styling */
#output-view {
  border: 1px solid black;
}

#output-view ul{
  list-style-type: none;
  padding-left: 15px;
  text-align: left;
}

#output-view ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  max-width: 95%;
}

#output-view ul li span {
  margin: 0 5%;
  vertical-align: middle;
}

#output-view ul li p {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
  text-align: left;
  width: 65%;
}

/* Text styling for completed todos */
#output-view ul li p.done{
  text-decoration: line-through;
}

/* UL Icons Styling */
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.uncomplete {
  background-image: url(../images/circle-regular.svg);
}

.uncomplete:hover{
  background-image: url(../images/check-circle-solid.svg);
  transition: 400ms;
  cursor: pointer;
}

.complete {
  background-image: url(../images/check-circle-solid.svg);
}

.delete {
  background-image: url(../images/times-circle-solid.svg);
}

.delete:hover{
  background-image: url(../images/times-circle-solid-hover.svg);
  transition: 400ms;
  cursor: pointer;
}